node_modules
.browser_modules
lib
*.log
*-app/*
!*-app/package.json
tsconfig.tsbuildinfo
src-gen
gen-webpack.config.js
gen-webpack.node.config.js
out
plugins
bin
.ignored_out
dist
*.port
**/*test-results
**/coverage
**/playwright-report
**/playwright/.cache
**/allure-results
*.vsix
applications/electron-app/resources/license_en.txt
extensions/crossmodel-lang/cross-model.tmLanguage.json
extensions/crossmodel-lang/language-configuration.json
