/* PrimeReact component styles */

/* Theme-specific styles */
.light-theme {
   --surface-ground: #ffffff;
   --surface-section: #f8f9fa;
   --surface-card: #ffffff;
   --surface-border: #dfe7ef;
   --text-color: #000000;
   --primary-color: #007acc;
   --focus-ring: #007acc40;
}

.dark-theme {
   --surface-ground: #1e1e1e;
   --surface-section: #252526;
   --surface-card: #252526;
   --surface-border: #404040;
   --text-color: #d4d4d4;
   --primary-color: #0e639c;
   --focus-ring: #0e639c40;
}

/* Global components */
.p-component {
   font-family: var(--theia-ui-font-family);
   font-size: 0.6rem;
   color: var(--text-color);
}

/* Button styles */
.p-button {
   color: #ffffff;
   background: var(--primary-color);
   border: 1px solid var(--primary-color);
   padding: 0.3rem;
   font-size: 0.6rem;
   transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
}

.p-button:enabled:hover {
   background: var(--primary-color);
   opacity: 0.9;
}
.p-icon {
   width: 0.6rem;
   height: 0.6rem;
}

.pi {
   font-size: 0.6rem;
}

/* DataGrid styles */
.p-datatable .p-datatable-tbody > tr > td {
   padding: 0.25rem;
   padding-left: 0.5rem;
}

.p-datatable .p-datatable-tbody > tr > td.p-cell-editing {
   padding-left: 0.2rem;
}

.p-datatable .p-datatable-header {
   background: var(--surface-card);
   border: 1px solid var(--surface-border);
   border-width: 1px 1px 0 1px;
   padding: 0.25rem 1rem;
   font-weight: 600;
}

.p-datatable .p-datatable-thead > tr > th {
   background: var(--surface-card);
   color: var(--text-color);
   border: 1px solid var(--surface-border);
   border-width: 0 0 1px 0;
   padding: 0.25rem 0.5rem 0.25rem;
   font-weight: 600;
}

.p-datatable .p-datatable-tbody > tr {
   background: var(--surface-card);
   color: var(--text-color);
   border: 0 none;
}

.p-datatable .p-datatable-tbody > tr > td {
   border: 1px solid var(--surface-border);
   border-width: 0 0 1px 0;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
   background: var(--surface-hover);
}

/* .p-datatable .p-datatable-tbody > tr > td:empty {
   background-color: var(--surface-ground);
   border: 1px solid var(--surface-border);
   border-radius: 4px;
   min-height: 2rem;
} */

/* Input field styles */
.p-inputtext {
   background: var(--surface-card);
   color: var(--text-color);
   border: 1px solid var(--surface-border);
   padding: 0.3rem;
   font-size: 0.6rem;
   transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
}

.p-inputtext:enabled:hover {
   border-color: var(--primary-color);
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:focus ~ .p-autocomplete-dropdown {
   outline: 0 none;
   outline-offset: 0;
   box-shadow: 0 0 0 0.2rem var(--focus-ring);
   border-color: var(--primary-color);
}

/* Dropdown styles */
.p-dropdown {
   background: var(--surface-card);
   border: 1px solid var(--surface-border);
   transition:
      background-color 0.2s,
      border-color 0.2s;
   border-radius: 4px;
}

.p-dropdown:not(.p-disabled):hover {
   border-color: var(--primary-color);
}

.p-dropdown:not(.p-disabled).p-focus {
   outline: 0 none;
   outline-offset: 0;
   box-shadow: 0 0 0 0.2rem var(--focus-ring);
   border-color: var(--primary-color);
}

.p-dropdown .p-dropdown-trigger {
   width: 2rem;
}

/* Checkbox styles */
.p-checkbox {
   width: 20px;
   height: 20px;
}

.p-datatable .p-datatable-tbody > tr > td.p-cell-editing .p-checkbox {
   margin-left: 0.3rem;
}

/* Apply only to dark theme checkbox icon container, var(--surface-card) color makes in invisible in light theme */
.dark-theme .p-checkbox .p-checkbox-box {
   border: 2px solid var(--surface-border);
   background: var(--surface-card);
}

.p-checkbox .p-checkbox-box {
   width: 20px;
   height: 20px;
   color: var(--text-color);
   border-radius: 4px;
   transition:
      background-color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
}

.p-checkbox .p-checkbox-box.p-highlight {
   border-color: var(--primary-color);
   background: var(--primary-color);
}

.p-button {
   background: var(--theia-button-background);
   color: var(--theia-button-foreground);
   border: 1px solid var(--theia-button-border);
}

.p-button:enabled:hover {
   background: var(--theia-button-hoverBackground);
}

/* AutoComplete Dropdown Arrow */
.p-autocomplete-dropdown.p-button {
   background: var(--surface-card);
   color: #6b7280;
   width: 2rem;
   border: 1px solid var(--surface-border);
   border-left: none;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

.p-autocomplete-dropdown.p-button:hover,
.p-autocomplete-dropdown.p-button:focus {
   background: var(--surface-card);
   border-color: var(--primary-color);
   outline: 0;
   box-shadow: none;
}

/* AutoComplete Dropdown Arrow Icon Rotation */
.autocomplete-dropdown-open .p-autocomplete-dropdown svg {
   transform: rotate(180deg);
}

.p-datatable {
   background: var(--theia-editor-background);
   color: var(--theia-editor-foreground);
}

.p-datatable .p-datatable-header {
   background: var(--theia-titleBar-activeBackground);
   color: var(--theia-titleBar-activeForeground);
}

.p-datatable .p-datatable-tbody > tr {
   background: var(--theia-editor-background);
   color: var(--theia-editor-foreground);
}

.p-datatable .p-datatable-tbody > tr:hover {
   background: var(--theia-list-hoverBackground);
}

.p-accordion .p-accordion-header .p-accordion-header-link {
   background: var(--theia-titleBar-activeBackground);
   color: var(--theia-titleBar-activeForeground);
   padding: 0.5rem 1rem;
   font-size: 0.6rem;
}

.p-accordion .p-accordion-content {
   background: var(--surface-section);
   color: var(--text-color);
   border: 1px solid var(--surface-border);
   padding: 1rem 0.5rem;
}

.p-toolbar {
   background: var(--theia-titleBar-activeBackground);
   border: none;
   padding: 0.5rem;
}

/* Form validation styles */
.p-error {
   color: var(--theia-errorForeground);
}

.p-invalid {
   border-color: var(--theia-errorForeground) !important;
}

/* Float label styles */
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper:focus ~ label,
.p-float-label .p-inputwrapper ~ label {
   color: var(--theia-focusBorder);
}

.mr-1-rem {
   margin-right: 0.25rem;
}

.p-btn-sm-icon {
   width: auto;
   padding: 0.25rem 0.5rem;
}

.entity-attributes-datatable .p-datatable-tbody > tr > td .p-inputtext,
.entity-custom-properties-datatable .p-datatable-tbody > tr > td .p-inputtext,
.data-model-custom-properties-datatable .p-datatable-tbody > tr > td .p-inputtext,
.relationship-custom-properties-datatable .p-datatable-tbody > tr > td .p-inputtext,
.source-object-condition-datatable .p-datatable-tbody > tr > td .p-inputtext,
.source-object-dependency-datatable .p-datatable-tbody > tr > td .p-inputtext,
.attribute-mapping-sources-datatable .p-datatable-tbody > tr > td .p-inputtext,
.data-model-dependencies-datatable .p-datatable-tbody > tr > td .p-inputtext,
.relationship-attributes-datatable .p-datatable-tbody > tr > td .p-inputtext,
span.w-full.p-autocomplete {
   width: 100%;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-action-button.p-button {
   width: 1rem;
   height: 1rem;
   padding: 0;
   border-radius: 50%;
   color: #6b7280;
   border: 0 none;
   background: transparent;
   box-shadow: none;
   transition:
      background-color 0.2s,
      color 0.2s,
      box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-action-button.p-button:enabled:hover {
   color: #374151;
   background-color: transparent;
   background: #f3f4f6;
   box-shadow: none;
}
